<!DOCTYPE html>
<html>

<head>
    <title>
        About Us
    </title>
    <script src="https://www.momentcrm.com/embed"></script>
    <script>
        MomentCRM('init', {
            'teamId': 'sakti_web',
            'doChat': true,
            'doTracking': true
        });
    </script>
</head>

<body>
     <div id="progressbar"></div>
        <div id="scrollPath"></div>
    <section>
    <center style="color: white;"><h1>GOOD EARTH SCHOOL - ABOUT</h1></center><br/>

     {{>navbar}}
     <br/>
    <div class="card card-body overflow-auto">
        <table itemscope itemtype="http://schema.org/Table">
            <tbody>

                <tr class="row border-bottom py-3">
                    <th scope="row" class="col-sm-3 py-0 border-0">
                        School Name
                    </th>
                    <td class="col-sm-1">
                        <i style="color:#8e44ad" class="fa fa-check-circle-o fa-2x pull-right"></i>
                    </td>
                    <td class="col-sm-8">
                        <strong itemprop="about" itemscope itemtype="http://schema.org/Organization" class="lead">Good
                            Earth School</strong>
                        <span class="jsonly">
                            <div class="dropdown d-inline">
                                <span id="dropdownShareButton" style="cursor: pointer" class="small text-primary pl-1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">(Share)</span>
                                <div class="dropdown-menu" aria-labelledby="dropdownShareButton">
                                    <a class="dropdown-item" rel="nofollow noopener"
                                        href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.icbse.com%2Fschools%2Fgood-earth-school-3vz1pz"
                                        target="_blank">Facebook</a>
                                    <a class="dropdown-item" rel="nofollow noopener"
                                        href="https://twitter.com/intent/tweet?text=iCBSE&amp;url=https%3A%2F%2Fwww.icbse.com%2Fschools%2Fgood-earth-school-3vz1pz&amp;via=icbse"
                                        target="_blank">Twitter</a>
                                    <a class="dropdown-item"
                                        href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.icbse.com%2Fschools%2Fgood-earth-school-3vz1pz&title=iCBSE&summary=&source="
                                        target="_blank" rel="nofollow noopener">Linkedin</a>
                                    <a class="dropdown-item" target="_blank"
                                        href="mailto:?Subject=iCBSE&Body=https://www.icbse.com/schools/good-earth-school-3vz1pz">Email</a>
                                </div>
                            </div>
                        </span>
                    </td>
                </tr>

                <tr class="row border-bottom py-3">
                    <th scope="row" class="col-sm-3 py-0 border-0">
                        Address / Location
                    </th>
                    <td class="col-sm-1">
                        <i style="color:#e67e22" class="fa fa-map-marker fa-2x pull-right"></i>
                    </td>
                    <td class="col-sm-8">
                        <address>83, Naduveerapattu, Manimangalam Road Naduveerapattu Village, Sonmangalam Sriperambadur
                            Taluk Kanchipuram , Tamil Nadu , India 600069
                        </address>
                    </td>
                </tr>

                <tr class="row border-bottom py-3">
                    <th scope="row" class="col-sm-3 py-0 border-0">
                        User Rating
                    </th>
                    <td class="col-sm-1">
                        <i style="color:#2980b9" class="fa fa-sort fa-2x pull-right"></i>
                    </td>
                    <td class="col-sm-8">
                        <i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i
                            class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i
                            class="fa fa-star text-warning"></i>
                        <strong class="pl-1">
                            <span class='text-success'><span style='font-size:115%'>5</span>/5</span>
                        </strong>
                    </td>
                </tr>

                <tr class="row border-bottom py-3">
                    <th scope="row" class="col-sm-3 py-0 border-0">
                        Phone Number(s)
                    </th>
                    <td class="col-sm-1">
                        <i style="color:#27ae60" class="fa fa-phone-square fa-2x pull-right"></i>
                    </td>
                    <td class="col-sm-8">
                        04**27**82**-3**E]**ea**tn**0c**ce**rg
                    </td>
                </tr>

                <tr class="row border-bottom py-3">
                    <th scope="row" class="col-sm-3 py-0 border-0">
                        Email Address
                    </th>
                    <td class="col-sm-1">
                        <i style="color:#c0392b" class="fa fa-envelope fa-2x pull-right"></i>
                    </td>
                    <td class="col-sm-8">
                        [O] 044-27178238-39head@*********
                    </td>
                </tr>


                <tr class="row border-bottom py-3">
                    <th scope="row" class="col-sm-3 py-0 border-0">
                        Affiliation Number
                    </th>
                    <td class="col-sm-1">
                        <i style="color:#f39c12" class="fa fa-hashtag fa-2x pull-right"></i>
                    </td>
                    <td class="col-sm-8">
                        TN**0
                    </td>
                </tr>



                <tr class="row border-bottom py-3">
                    <th scope="row" class="col-sm-3 py-0 border-0">
                        Principal / Headmaster
                        <small class="text-secondary font-weight-light"></small>
                    </th>
                    <td class="col-sm-1">
                        <i style="color:#e74c3c" class="fa fa-star fa-2x pull-right"></i>
                    </td>
                    <td class="col-sm-8">
                        Ms. Meena T
                    </td>
                </tr>
                <tr class="row border-bottom py-3">
                    <th scope="row" class="col-sm-3 py-0 border-0">
                        Type
                        <small class="text-secondary font-weight-light"></small>
                    </th>
                    <td class="col-sm-1">
                        <i style="color:#2c3e50" class="fa fa-star fa-2x pull-right"></i>
                    </td>
                    <td class="col-sm-8">
                        ICSE, ISC
                    </td>
                </tr>
                <tr class="row border-bottom py-3">
                    <th scope="row" class="col-sm-3 py-0 border-0">
                        Education System
                        <small class="text-secondary font-weight-light"></small>
                    </th>
                    <td class="col-sm-1">
                        <i style="color:#f1c40f" class="fa fa-star fa-2x pull-right"></i>
                    </td>
                    <td class="col-sm-8">
                        Co-ed., Day, Permanent
                    </td>
                </tr>
                <tr class="row border-bottom py-3">
                    <th scope="row" class="col-sm-3 py-0 border-0">
                        General Description
                    </th>
                    <td class="col-sm-1">
                        <i style="color:#1abc9c" class="fa fa-info-circle fa-2x pull-right"></i>
                    </td>
                    <td class="col-sm-8">
                        <div class=" overflow-auto small">
                            Good Earth School (GES) located at 83, Naduveerapattu, Manimangalam Road Naduveerapattu
                            Village, Sonmangalam Sriperambadur Taluk Kanchipuram is one of the popular schools in India.
                            The School has been rated by 2 people on iCBSE. The School has been recognized by Council
                            for Indian School Certificate Examinations since a long time. The Good Earth School has been
                            viewed 126 times by the visitors on iCBSE. This School is counted among the top-rated
                            Schools in Tamil Nadu with an excellent academic track record.
                            If you're looking for more details regarding admission procedure, syllabus, application
                            forms, results and examinations schedule, kindly contact the relevant department of the
                            school.
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        </section>
        <link rel="stylesheet" href="https://static.icbse.com/static/web/css/all.css?id=5ff0c7ddcaed58fa28f2">

        <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></noscript>

        <script src="https://static.icbse.com/static/web/js/all.js?id=13a2e785aa7fd0a110ab"></script>
        <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: consolas;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #111;
        }

        section {
            padding: 50px;
            background: #000;
        }

        ::-webkit-scrollbar {
            width: 0%;
        }

        #scrollPath {
            position: fixed;
            top: 0;
            right: 0;
            width: 10px;
            height: 100%;
            background: rgba(255, 255, 255, 0.05);
        }

        #progressbar {
            position: fixed;
            top: 0;
            right: 0;
            width: 10px;

            background: linear-gradient(to top, #008aff, #00ffe7);
            animation: animate 5s linear infinite;
        }

        @keyframes animate {

            0%,
            100% {
                filter: hue-rotate(0deg);
            }

            50% {
                filter: hue-rotate(360deg);
            }
        }

        #progressbar:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #008aff, #00ffe7);
            filter: blur(10px);
        }

        #progressbar:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #008aff, #00ffe7);
            filter: blur(30px);
        }

        .container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px 0;
            flex-wrap: wrap;
        }

        .container .box {
            position: relative;
            width: 320px;
            height: 400px;
            color: #fff;
            background-color: #111;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 30px;
            transition: 0.5s;
        }

        .container .box:hover {
            transform: translateY(-20px);
        }

        .container .box::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, #ffbc00, #ff0058);
        }
        .container .box span {
            position: absolute;
            top: 6px;
            left: 6px;
            right: 6px;
            bottom: 6px;
            background: rgba(0, 0, 0, 0.6);
            z-index: 2;
        }

        .container .box span::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: rgba(255, 255, 255, 0.1);
            pointer-events: none;
        }

        .container .box .content {
            position: relative;
            z-index: 10;
            padding: 20px 40px;
        }
       </style>

    <script type="text/javascript">
        let progress = document.getElementById('progressbar');
        let totalHeight = document.body.scrollHeight - window.innerHeight;
        window.onscroll = function () {
            let progressHeight = (window.pageYOffset / totalHeight) * 100;
            progress.style.height = progressHeight + "%";
        }
    </script>
</body>

</html>