<!DOCTYPE html>
<html>
<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://www.momentcrm.com/embed"></script>
    <script>
        MomentCRM('init', {
            'teamId': 'sakti_web',
            'doChat': true,
            'doTracking': true
        });
    </script>
    <title>Teachers</title>
    <div id="progressbar"></div>
    <div id="scrollPath"></div>
    <section>
        <center><h1>Teachers</h1></center>
        <br/>

     {{>navbar}}
     <br/>
    <center><h1>Teaching Faculty</h1></center>
    
    <h4><b>
<pre style="color: white;">
    
    1. Alpana J. William Devaraj        14. Kalyani R.                  27. Sangeetha Joshi
    
    2. Anand Mathew Kurien              15. Kavitha Mohan               28. Suryanarayanan N.
    
    3. Anitha K                         16. Keshav Prasad               29. Umamaheshwarao L
    
    4. Antony Santiyacu Prakash J.      17. Madhavi P                   30. Uma Ravindran
   
    5. Archana Raghunath                18. Meena T                     31. Vidya Premkumar
   
    6. Beulah Joseph                    19. Monica Dominic              32. Vinod Kumar C.
    
    7. Chitragandha V                   20. Monica T                    33. Yojna Chanana
    
    8. Daisy Rajan                      21. Padma Priya D.              34. Sowmya Subash
    
    9. Durga Devi                       22. Padma Priya P               35. Gowri B
    
    10. Geetha Mani                     23. Parvatham Hari Haran        36. Senbakam M
    
    11. Geetha Venkat                   24. Rajeswari Bharani Dharan    37. Amirtha Latha V
    
    12. Hepsiba Ravindran               25. Raji Sriprakash                                         
    
    13. Jyothirmayi                     26. Revathy C. S.
</pre><br/><br/>
<center><h1>Consultants</h1></center>
<pre style="color: white;">
    1. A. Gajanan Rao

    2. C. Chandrakala

    3. Grace Selvaraj

    4. Karthikeyan S 
</pre>
<center><h1>Administrative Staff</h1></center><br/><br/>
<pre style="color: white;">
    1. Ankineedu Dawoodluri    -   Agricultural Officer

    2. Arun Prasad N.          -   Office Assistant

    3. Balasubramanian S.      -   Office Manager

    4. Marikannu V.            -   Canteen & House Keeping Supervisor

    5. Uma Maheshwari S.       -   Office Assistant

    6. Venkatesh R.            -   Campus Supervisor
</pre><br/><br/>
<center><h1>Support Staff</h1></center><br/><br/>
<pre style="color: white;">
    1. Louis Y.         -   Office

    2. Parameswari S.   -   Home Science & Physics Lab

    3. Suresh K.        -   Biology & Chemistry Lab

    4. Thangaraj V.     -   Library
    
</pre>
</b></h4>
</section>
<style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: consolas;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #111;
            color: white;
        }

        section {
            padding: 50px;
            background: #000;
        }

        ::-webkit-scrollbar {
            width: 0%;
        }

        #scrollPath {
            position: fixed;
            top: 0;
            right: 0;
            width: 10px;
            height: 100%;
            background: rgba(255, 255, 255, 0.05);
        }

        #progressbar {
            position: fixed;
            top: 0;
            right: 0;
            width: 10px;

            background: linear-gradient(to top, #008aff, #00ffe7);
            animation: animate 5s linear infinite;
        }

        @keyframes animate {

            0%,
            100% {
                filter: hue-rotate(0deg);
            }

            50% {
                filter: hue-rotate(360deg);
            }
        }

        #progressbar:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #008aff, #00ffe7);
            filter: blur(10px);
        }

        #progressbar:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #008aff, #00ffe7);
            filter: blur(30px);
        }

        .container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px 0;
            flex-wrap: wrap;
        }

        .container .box {
            position: relative;
            width: 320px;
            height: 400px;
            color: #fff;
            background-color: #111;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 30px;
            transition: 0.5s;
        }

        .container .box:hover {
            transform: translateY(-20px);
        }

        .container .box::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, #ffbc00, #ff0058);
        }

        .container .box span {
            position: absolute;
            top: 6px;
            left: 6px;
            right: 6px;
            bottom: 6px;
            background: rgba(0, 0, 0, 0.6);
            z-index: 2;
        }

        .container .box span::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: rgba(255, 255, 255, 0.1);
            pointer-events: none;
        }

        .container .box .content {
            position: relative;
            z-index: 10;
            padding: 20px 40px;
        }
    </style>

    <script type="text/javascript">
        let progress = document.getElementById('progressbar');
        let totalHeight = document.body.scrollHeight - window.innerHeight;
        window.onscroll = function () {
            let progressHeight = (window.pageYOffset / totalHeight) * 100;
            progress.style.height = progressHeight + "%";
        }
    </script>
</body>
</html>